.container {
  display: grid;
  grid-template-columns: repeat(3, calc((100% / 3) - (40px / 3)));
  column-gap: 20px;
  row-gap: 41px;
}

.thumbnailContainer {
  .thumbnailTitleSection {
    margin-bottom: 19px;
  }

  .thumbnailSection {
    height: 348px;
  }
}
