@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column-center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 55px;
  min-width: fit-content;
}

.content {
  @include flex-column;
  width: 800px;
  height: 75%;
  align-items: center;
  justify-content: space-around;
}

.pageTitleSection {
  @include flex-column-center;
  margin-bottom: 50px;
}

.pageTitle {
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: var(--line-height-21-15);
  letter-spacing: var(--letter-spacing-10-71);
  font-family: var(--font-pretend);
  color: var(--color-gray);
  margin-bottom: 20px;
  text-align: center;
}

.pageSubTitle {
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: var(--line-height-16-45);
  letter-spacing: var(--letter-spacing-1-68);
  font-family: var(--font-nanum);
  color: var(--color-green-1);
}

// table section
.tableSection {
  @include full-width;
  height: 350px;
}

.table {
  @include flex;
  @include full-container;
}

.tableTitles {
  @include full-height;
  width: 100px;
}

.tableTitle {
  @include flex-center;
  width: 80%;
  height: 25%;
  font-size: 16px;
  font-weight: var(--font-bold);
  color: var(--color-green-2);
  font-family: var(--font-work);
  border-bottom: 1.5px solid var(--color-light-gray);
}

.tableContents {
  @include full-container;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-light-gray);
}

.tableRow {
  @include flex;
  @include full-width;
  height: 25%;
  align-items: center;
}

.contentBox {
  @include flex-center;
  @include cursor-pointer;
  @include full-container;
  font-size: 14px;
  font-weight: var(--font-medium);
  font-family: var(--font-work);
  color: var(--color-gray);
  position: relative;
}

.contentRightBorder {
  border-right: 0.5px solid var(--color-light-gray);
}

.contentBottomBorder {
  border-bottom: 0.5px solid var(--color-light-gray);
}

.contentButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.contentChecked {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
}

.contentCheckedMark {
  width: 0;
  height: 0;
  border-top: 20px solid var(--color-orange);
  border-right: 20px solid rgba(128, 128, 128, 0.1);
}

.mainButton {
  width: 200px;
  height: 40px;
  margin-top: 52px;
}
