@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.12em;
  line-height: 117.5%;

  @include flex-column-center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 178px 55px;
}

.content {
  @include flex-column;
  width: 100%;
  max-width: 911px;
  align-items: center;
  justify-content: space-around;
}

.pageTitleSection {
  @include flex-column-center;
  margin-bottom: 80px;
}

.pageTitle {
  font-size: 22px;
  font-family: var(--font-pretend);
  font-weight: var(--font-bold);
  letter-spacing: 0.595em;

  color: var(--color-gray);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.pageSubTitle {
  font-size: 16px;
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  letter-spacing: 0.12em;

  padding: 10px;
  color: var(--color-green-1);
}

// table section
.tableSection {
  @include full-width;
}

.table {
  @include flex;
  @include full-container;
}

.tableTitles {
  margin-top: 1px;
}

.tableTitle {
  @include flex-center;
  width: 69.5px;
  height: 115px;
  font-size: 16px;
  font-weight: var(--font-bold);
  color: var(--color-green-2);
  font-family: var(--font-work);
  border-bottom: 1.5px solid var(--color-light-gray);
}

.tableContents {
  background-color: var(--color-white);
  border: 0.5px solid var(--color-light-gray);
  flex-shrink: 1;
  overflow-x: auto;
}

.tableRow {
  @include flex;
  align-items: center;
}

.contentBox {
  font-size: 18px;
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  letter-spacing: 0.125em;
  @include flex-center;
  @include cursor-pointer;
  flex-shrink: 0;
  width: 117px;
  height: 115px;
  color: var(--color-gray);
  position: relative;
}

.contentRightBorder {
  border-right: 0.5px solid var(--color-light-gray);
}

.contentBottomBorder {
  border-bottom: 0.5px solid var(--color-light-gray);
}

.contentButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.contentChecked {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
}

.contentCheckedMark {
  width: 0;
  height: 0;
  border-top: 30px solid var(--color-orange);
  border-right: 30px solid rgba(128, 128, 128, 0.1);
}

.mainButton {
  width: 330px;
  height: 66px;
  margin: 86px auto;
}
