@import "@styles/mixins";
@import "@styles/variables";

.subTitle {
  font-size: $font-size-16;
  margin-bottom: $size-20;
}

.logoSection {
  width: $size-300;
  height: $size-50;
}

.logo {
  @include full-container;
}

.divider {
  height: $size-10;
}

.buttonSection {
  width: $size-200;
  height: $size-40;
}
