@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.12em;
  line-height: 117.5%;

  @include flex-column-center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 55px;
  min-width: fit-content;
}

.subContainer {
  @include flex-column-center;
}

.subTitle {
  margin-bottom: 20px;
  height: 46px;
}

.logoSection {
  height: 83.55px;
  margin-bottom: 84px;
}

.logo {
  @include full-container;
}

.buttonSection {
  width: 330px;
  height: 66px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
