@import "@styles/mixins";
@import "@styles/variables";

.rank {
  font-family: var(--font-pretend);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.595em;
  line-height: 117.5%;

  text-align: center;
  margin-bottom: 19px;
}

.writerThumbnailWrapper {
  width: 258px;
  height: 373.5px;
  position: relative;
  margin-bottom: 8.5px;
}

.prizeIcon {
  position: absolute;
  fill: var(--color-light-gray);
  z-index: 2;
  width: 60px;
  height: 60px;
  left: 7px;
  top: 9px;
}

.button {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 150%;

  @include flex-center;
  height: 40px;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-footer);
}

.colorOrange {
  color: var(--color-orange);
}

.bgColorOrange {
  background-color: var(--color-orange);
}

.fillColorOrange {
  fill: var(--color-orange);
}
