@import "@styles/mixins";
@import "@styles/variables";

$corner-size: 25px;

.container {
  position: relative;
  z-index: 0;
  padding: 54px 0 27px;

  .centerLine {
    position: absolute;
    z-index: -1;
    width: 12px;
    top: 0;
    bottom: 1px;
    left: calc(50% - 12px / 2);
    background-color: var(--color-orange);

    .bottomNot {
      width: 14px;
      height: 17px;
      border-radius: 2px;
      position: absolute;
      left: -0.5px;
      bottom: -1px;
      background: var(--color-orange);
      background: linear-gradient(
        0deg,
        var(--color-orange) 0%,
        var(--color-dark-orange) 100%
      );
    }
  }

  .cardContainer {
    .cardWrapper {
      margin: 0 50px;

      // 경력 작성 컴포넌트
      &.add {
        .card {
          .top {
            .date {
            }

            .mainText {
            }

            .buttons {
              .add {
                width: 24px;
                height: 24px;
                background-image: url("/src/assets/images/icon_add_orange.png");
              }
            }
          }

          .bottom {
            .content {
              color: var(--color-gray);
            }
          }

          .hr {
          }
        }
      }

      .card {
        padding: 23px 24px 22px;
        background-color: var(--color-white);
        overflow-x: auto;

        .top {
          @include flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0 24px 15px;

          .date {
            font-family: var(--font-pretend);
            font-weight: var(--font-medium);
            font-size: 14px;
            letter-spacing: 0em;
            line-height: 229.5%;

            color: var(--color-light-gray);
            flex-shrink: 0;
            margin-right: 34px;
          }

          .mainText {
            font-family: var(--font-pretend);
            font-weight: var(--font-medium);
            font-size: 16px;
            letter-spacing: 0em;
            line-height: 120%;

            min-width: unset;
            color: var(--color-black);
            margin-right: 34px;
            flex: 1;
          }

          .buttons {
            @include flex-center;

            * {
              background-repeat: no-repeat;
              background-position: center;

              &:hover {
                opacity: 0.8;
              }

              &:not(:last-child) {
                margin-right: 19px;
              }
            }

            .mod {
              width: 20px;
              height: 20px;
              background-image: url("/src/assets/images/icon_pen_gray.png");
            }
            .del {
              width: 20px;
              height: 20px;
              background-image: url("/src/assets/images/icon_del_gray.png");
            }
          }
        }

        .bottom {
          margin: 8px 15px;

          .content {
            font-family: var(--font-pretend);
            font-weight: var(--font-medium);
            font-size: 14px;
            letter-spacing: 0em;
            line-height: 140%;

            width: 100%;
            min-height: 62px;
            color: var(--color-light-gray);
          }
        }

        .hr {
          width: 100%;
          border-bottom: 1px solid var(--color-footer);
        }
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

@include mobile {
  .cardContainer {
    .cardWrapper {
      margin: 0 80px;

      .card {
        flex-direction: column;
        align-items: start;

        .mainText {
          padding: 0;
        }

        .rightArea {
          width: 100%;
          text-align: right;
          border-left: none;
        }
      }
    }
  }
}
