@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-size: 20px;
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  letter-spacing: -0.02em;

  @include flex-center;
  @include cursor-pointer;
  @include full-container;
  border: 1px solid var(--color-light-gray);
  border-radius: 20px;
  color: var(--color-light-gray);
  z-index: 1;

  &:hover {
    @include opacity-0-8;
  }
}
