@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-center;
  @include cursor-pointer;
  @include full-container;
  font-size: 14px;
  border: 1px solid var(--color-light-gray);
  font-family: var(--font-work);
  border-radius: 20px;
  color: var(--color-light-gray);
  z-index: 1;

  &:hover {
    @include opacity-0-8;
  }
}
