@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  @include full-container;
  background-color: var(--color-white);
}

.indexSection {
  padding-top: 14px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.index {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.orange {
  background-color: var(--color-orange);
}

.green {
  background-color: var(--color-green-2);
}

.gray {
  background-color: var(--color-light-gray);
}

.contentSection {
  flex-grow: 1;
  padding: 0 15px 15px;
  overflow-y: hidden;
}

.editableContent {
  font-family: inherit;
  font-weight: var(--font-regular);
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 229.5%;

  white-space: pre-line; // \n 기준으로 개행
}
