@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  width: 210px;
  height: 269px;
  background-color: var(--color-white);
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.indexSection {
  @include flex;
  @include full-width;
  height: 10px;
  align-items: center;
  justify-content: start;
  padding: 0 13px;
  margin-bottom: 10px;
}

.index {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.orange {
  background-color: var(--color-orange);
}

.green {
  background-color: var(--color-green-2);
}

.contentSection {
  @include full-width;
  flex-grow: 1;
  padding: 0 25px 25px;
  overflow-y: hidden;
}

.editableContent {
  line-height: 2.2;
  font-size: $font-size-16;
  white-space: pre-line; // \n 기준으로 개행
}

.originalSection {
  width: 100%;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: var(--line-height-27);
}

.translatedSection {
  width: 100%;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: var(--line-height-27);
}
