@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include overflow-scroll;
  width: 100%;
  height: 85vh;
  padding: 10px 150px;
}

.container::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 200px;
}

.content::-webkit-scrollbar {
  display: none;
}

.headerSection {
  @include full-width;
  height: 200px;
}

.divider {
  height: 100px;
}

.bodySection {
  @include full-width;
}

.titleSection {
  @include full-width;
  @include flex;
  align-items: center;
  justify-content: start;
  color: var(--color-gray);
  letter-spacing: var(--letter-spacing-0-72);
  margin-bottom: 20px;
}

.thumbnailCardSection {
  @include flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnailEmptyContainer {
  flex: 1;
}

.thumbnailTitle {
  @include full-width;
  @include flex-center;
  height: 30px;
}

.textHighlight {
  color: var(--color-orange);
  font-weight: var(--font-semi-bold);
}

.thumbnailSection {
  @include full-width;
  @include flex-center;
}

.thumbnailContainer {
  flex: 1;
  @include flex-column-center;
}

.moveToPageContainer {
  @include full-width;
  @include flex;
  @include cursor-pointer;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  padding: 20px 50px;
}

.moveToPageContainer > :first-child {
  @include full-height;
  @include flex-column;
  flex: 1;
}

.moveToPageContainer > :last-child {
  @include full-height;
  @include flex-center;
  flex: 1;
}

.moveToPageSubTitle {
  @include full-width;
  color: var(--color-white);
  font-family: var(--font-pretend);
  font-weight: var(--font-light);
  font-size: $font-size-14;
  letter-spacing: var(--letter-spacing-3);
  margin-bottom: 5px;
}

.moveToPageTitle {
  @include full-width;
  color: var(--color-white);
  font-size: $font-size-22;
}

.fontPretend {
  font-family: var(--font-pretend);
  letter-spacing: var(--letter-spacing-2);
}
