@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-width;
}

.buttonsSection {
  @include flex-center;
  flex-wrap: wrap;
  column-gap: min(10dvw, 86px);
  text-align: center;
  margin: 0 auto 14px;
  width: fit-content;

  .button {
    font-family: var(--font-pretned);
    font-weight: var(--font-bold);
    font-size: 18px;
    letter-spacing: 0.125em;
    line-height: 229.5%;

    @include cursor-pointer;
    font-family: var(--font-pretend);
    color: var(--color-gray);
    font-size: $font-size-18;
    font-weight: var(--font-semi-bold);
    margin-bottom: 20px;
    opacity: 0.76;

    &.active {
      opacity: 1;
    }
  }
}

.active {
  color: var(--color-gray);
  font-weight: var(--font-bold);
}

.writersSection {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
  grid-auto-rows: 373.5px;
  column-gap: 22px;
  row-gap: 19px;
  max-width: 818px;
}

.writerThumbnailWrapper {
  @include full-container;
}
