@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-width;
}

.titleSection {
  @include full-width;
  @include flex-center;
  font-size: $font-size-22;
  font-family: var(--font-pretend);
  letter-spacing: var(--letter-spacing-13-09);
  font-weight: var(--font-bold);
  color: var(--color-gray);
  margin-bottom: 20px;
}

.subTitleSection {
  @include full-width;
  @include flex-center;
  font-size: $font-size-16;
  letter-spacing: var(--letter-spacing-3);
  font-weight: var(--font-semi-bold);
  color: var(--color-green-1);
  margin-bottom: 50px;
}

.buttonsSection {
  @include full-width;
  @include flex-center;
  height: 50px;
}

.button {
  @include flex-center;
  @include full-height;
  @include cursor-pointer;
  width: 100px;
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
  font-size: $font-size-18;
  font-weight: var(--font-semi-bold);
  margin-bottom: 20px;
}

.active {
  color: var(--color-gray);
  font-weight: var(--font-bold);
}

.writersSection {
  @include full-width;
  @include flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
