@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-weight: var(--font-light);
  font-size: 18px;
  line-height: 229.5%;
  letter-spacing: 0em;

  @include flex-column;
  @include full-container;
  @include cursor-pointer;
  position: relative;
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clickable {
  @include cursor-pointer;

  &:hover {
    @include opacity-0-8;
  }
}

.preSave {
  color: var(--color-light-gray);
}

.indexSection {
  @include flex;
  @include full-width;
  height: 14px;
  align-items: center;
  justify-content: start;
  margin: 16px auto 15px 15px;
}

.index {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.indexActive {
  background-color: var(--color-orange);
}

.indexInActive {
  background-color: var(--color-light-gray);
}

.contentSection {
  @include full-width;
  flex-grow: 1;
  padding: 0 29px;
  margin-bottom: 97px;
  overflow-y: hidden;
  white-space: pre-wrap; // \n 기준으로 개행
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.footerSection {
  @include flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nameSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 172%;

  color: var(--color-light-gray);
  position: absolute;
  left: 29px;
  bottom: 19px;
}

.foldSection {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
}

.pickedNumberContainer {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 172%;

  @include flex;
  position: absolute;
  right: 6px;
  bottom: 0;
  color: var(--color-light-gray);
  z-index: 3;
}

.foldContainer {
  position: relative;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  z-index: 2;
}

.borderTopGreen {
  border-top: 50px solid var(--color-green-2);
}

.borderTopOrange {
  border-top: 50px solid var(--color-orange);
}

.green {
  background-color: var(--color-green-2);
}

.orange {
  background-color: var(--color-orange);
}
