@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  width: 200px;
  height: 250px;
  background-color: var(--color-white);
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: var(--box-shadow-large);
}

.clickable {
  @include cursor-pointer;

  &:hover {
    @include opacity-0-8;
  }
}

.preSave {
  color: var(--color-light-gray);
}

.indexSection {
  @include flex;
  @include full-width;
  height: 10px;
  padding: 0 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.index {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.indexActive {
  background-color: var(--color-orange);
}

.indexInActive {
  background-color: var(--color-light-gray);
}

.contentSection {
  @include full-width;
  height: 90%;
  padding: 0 20px;
}

.originalSection {
  @include full-width;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: var(--line-height-27);
  // 5줄 넘어가면 말줄임표시
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.translatedSection {
  @include full-width;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: var(--line-height-27);
}

.footerSection {
  @include flex;
  @include full-width;
  align-items: end;
  justify-content: space-between;
}

.nameSection {
  font-size: $font-size-12;
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
  margin-left: 20px;
  margin-bottom: 10px;
}

.foldSection {
  position: relative;
  width: 40px;
  height: 40px;
}

.pickedNumberContainer {
  @include flex;
  position: absolute;
  align-items: end;
  justify-content: end;
  font-size: $font-size-12;
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
  width: 40px;
  height: 40px;
  padding: 0 3px 3px 0;
  z-index: 3;
}

.foldContainer {
  position: relative;
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  z-index: 2;
}

.borderTopGreen {
  border-top: 40px solid var(--color-green-2);
}

.borderTopOrange {
  border-top: 40px solid var(--color-orange);
}

.green {
  background-color: var(--color-green-2);
}

.orange {
  background-color: var(--color-orange);
}
