@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-center;
  @include full-container;
  line-height: var(--line-height-16-45);
  letter-spacing: var(--letter-spacing-1-68);
  font-family: var(--font-pretend);
  font-size: $font-size-14;
  font-weight: var(--font-bold);
  color: var(--color-white);
}

.enable {
  @include cursor-pointer;
  background-color: var(--color-orange);

  &:hover {
    @include opacity-0-8;
  }
}

.disable {
  @include cursor-default;
  background-color: var(--color-light-gray);
}
