@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

:root {
  /* color 속성 */
  --color-orange: #f45a1e;
  --color-green-1: #003d2b;
  --color-green-2: #006934;
  --color-light-orange: #f0c2b1;

  --color-background: #eeeeef;
  --color-join-background: #f1f1f2;
  --color-footer: #d9d9d9;

  --color-white: #ffffff;
  --color-black: #1d2621;

  --color-gray: #5b635e;
  --color-light-gray: #aeaeae;

  /* font-weight 속성 */
  --font-extra-bold: 800;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  /* font-size 속성 */
  --text-size-xxl: 35px;
  --text-size-xl: 24px;
  --text-size-lg: 22px;
  --text-size-xm: 20px;
  --text-size-md: 18px;
  --text-size-base: 16px;
  --text-size-sm: 14px;
  --text-size-xs: 12px;

  /* display: flex 속성 */
  @mixin flex {
    display: flex;
  }

  @mixin flex-column {
    @include flex;
    flex-direction: column;
  }

  @mixin flex-center {
    @include flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-column-center {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  /* font 35px */
  @mixin ultimate-large-100 {
    font-family: NanumMyeongjo;
    font-size: var(--text-size-xxl);
    font-weight: var(--font-bold);
    line-height: 150%; /* 52.5px */
    letter-spacing: 4.375px;
  }

  /* font 24px */
  @mixin additional-large {
    font-size: var(--text-size-xl);
    line-height: 229.5%; /* 55.08px */
    letter-spacing: 3px;
  }

  @mixin additional-large-100 {
    @include additional-large;
    font-family: NanumMyeongjo;
    font-weight: var(--font-bold);
  }

  @mixin additional-large-200 {
    @include additional-large;
    font-family: Pretendard;
    font-weight: var(--font-regular);
  }

  /* font 22px */
  @mixin extra-large-bold {
    font-size: var(--text-size-lg);
    font-weight: var(--font-bold);
  }

  @mixin extra-large-semi-bold {
    font-size: var(--text-size-lg);
    font-weight: var(--font-semi-bold);
  }

  @mixin extra-large-100 {
    @include extra-large-bold;
    font-family: Pretendard;
    line-height: 229.5%; /* 50.49px */
    letter-spacing: 2.75px;
  }

  @mixin extra-large-200 {
    @include extra-large-bold;
    font-family: NanumMyeongjo;
    line-height: 157.5%; /* 34.65px */
    letter-spacing: 2.64px;
  }

  @mixin extra-large-300 {
    @include extra-large-bold;
    font-family: Pretendard;
    line-height: 150%; /* 33px */
    letter-spacing: 2.75px;
  }

  @mixin extra-large-400 {
    @include extra-large-bold;
    font-family: Pretendard;
    line-height: 117.5%; /* 25.85px */
    letter-spacing: 13.09px;
  }

  @mixin extra-large-500 {
    @include extra-large-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 25.85px */
    letter-spacing: 2.64px;
  }

  @mixin extra-large-600 {
    @include extra-large-semi-bold;
    font-family: Nanum Myeongjo;
    line-height: 150%; /* 33px */
    letter-spacing: 2.75px;
  }

  /* font 20px */
  @mixin large-extra-bold {
    font-size: var(--text-size-xm);
    font-weight: var(--font-extra-bold);
  }

  @mixin large-bold {
    font-size: var(--text-size-xm);
    font-weight: var(--font-bold);
  }

  @mixin large-medium {
    font-size: var(--text-size-xm);
    font-weight: var(--font-medium);
  }

  @mixin large-100 {
    @include large-extra-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 23.5px */
    letter-spacing: 0.8px;
  }

  @mixin large-200 {
    @include large-bold;
    font-family: NanumMyeongjo;
    line-height: 150%; /* 30px */
    letter-spacing: 2.5px;
  }

  @mixin large-300 {
    @include large-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 23.5px */
    letter-spacing: 0.8px;
  }

  @mixin large-400 {
    @include large-bold;
    font-family: Work Sans;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  @mixin large-500 {
    @include large-medium;
    font-family: Pretendard Variable;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  /* font 18px */
  @mixin medium-bold {
    font-size: var(--text-size-md);
    font-weight: var(--font-bold);
  }

  @mixin medium-semi-bold {
    font-size: var(--text-size-md);
    font-weight: var(--font-semi-bold);
  }

  @mixin medium-medium {
    font-size: var(--text-size-md);
    font-weight: var(--font-medium);
  }

  @mixin medium-regular {
    font-size: var(--text-size-md);
    font-weight: var(--font-regular);
  }

  @mixin medium-light {
    font-size: var(--text-size-md);
    font-weight: var(--font-light);
  }

  @mixin medium-100 {
    @include medium-bold;
    font-family: Pretendard;
    line-height: 117.5%; /* 21.15px */
    letter-spacing: 10.71px;
  }

  @mixin medium-200 {
    @include medium-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 21.15px */
    letter-spacing: 0.9px;
  }

  @mixin medium-300 {
    @include medium-bold;
    font-family: NanumMyeongjo;
    line-height: 229.5%; /* 41.31px */
  }

  @mixin medium-400 {
    @include medium-bold;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
    letter-spacing: 2.25px;
  }

  @mixin medium-500 {
    @include medium-semi-bold;
    font-family: Nanum Myeongjo;
    line-height: 150%; /* 27px */
    letter-spacing: 2.25px;
  }

  @mixin medium-600 {
    @include medium-medium;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
    letter-spacing: 2.25px;
  }

  @mixin medium-700 {
    @include medium-medium;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
  }

  @mixin medium-800 {
    @include medium-medium;
    font-family: Pretendard;
    line-height: 150%; /* 27px */
    letter-spacing: 2.25px;
  }

  @mixin medium-900 {
    @include medium-medium;
    font-family: Pretendard;
    line-height: 117.5%; /* 21.15px */
    letter-spacing: 0.72px;
  }

  @mixin medium-1000 {
    @include medium-regular;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
    letter-spacing: 2.25px;
  }

  @mixin medium-1100 {
    @include medium-regular;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
  }

  @mixin medium-1200 {
    @include medium-regular;
    font-family: NanumMyeongjo;
    line-height: 150%; /* 27px */
    letter-spacing: 2.25px;
  }

  @mixin medium-1300 {
    @include medium-light;
    font-family: Pretendard;
    line-height: 229.5%; /* 41.31px */
  }

  /* font 16px */
  @mixin base-bold {
    font-size: var(--text-size-base);
    font-weight: var(--font-bold);
  }

  @mixin base-medium {
    font-size: var(--text-size-base);
    font-weight: var(--font-medium);
  }

  @mixin base-regular {
    font-size: var(--text-size-base);
    font-weight: var(--font-regular);
  }

  @mixin base-100 {
    @include base-bold;
    font-family: NanumMyeongjo;
    line-height: 150%; /* 24px */
    letter-spacing: 2px;
  }

  @mixin base-200 {
    @include base-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 18.8px */
    letter-spacing: 1.92px;
  }

  @mixin base-300 {
    @include base-bold;
    font-family: Pretendard;
    line-height: 117.5%; /* 18.8px */
    letter-spacing: 9.52px;
  }

  @mixin base-400 {
    @include base-medium;
    font-family: Pretendard;
    line-height: 172%; /* 27.52px */
  }

  @mixin base-500 {
    @include base-medium;
    font-family: Pretendard;
    line-height: 150%; /* 24px */
    letter-spacing: 2px;
  }

  @mixin base-600 {
    @include base-regular;
    font-family: Pretendard;
    line-height: 229.5%; /* 36.72px */
    letter-spacing: 0.64px;
  }

  @mixin base-700 {
    @include base-regular;
    font-family: Pretendard;
    line-height: 150%; /* 24px */
    letter-spacing: 2px;
  }

  @mixin base-800 {
    @include base-regular;
    font-family: Pretendard;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;
  }

  @mixin base-900 {
    @include base-regular;
    line-height: 117.5%; /* 18.8px */
    letter-spacing: 0.64px;
  }

  /* font 14px */
  @mixin small-bold {
    font-size: var(--text-size-sm);
    font-weight: var(--font-bold);
  }

  @mixin small-medium {
    font-size: var(--text-size-sm);
    font-weight: var(--font-medium);
  }

  @mixin small-regular {
    font-size: var(--text-size-sm);
    font-weight: var(--font-regular);
  }

  @mixin small-100 {
    @include small-bold;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 16.45px */
    letter-spacing: 1.68px;
  }

  @mixin small-200 {
    @include small-medium;
    font-family: Pretendard;
    line-height: 229.5%; /* 32.13px */
    letter-spacing: 1.75px;
  }

  @mixin small-300 {
    @include small-medium;
    font-family: Pretendard;
    line-height: 172%; /* 24.08px */
  }

  @mixin small-400 {
    @include small-regular;
    font-family: Pretendard;
    line-height: 229.5%; /* 32.13px */
    letter-spacing: 5.39px;
  }

  @mixin small-500 {
    @include small-regular;
    font-family: Pretendard;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
  }

  @mixin small-600 {
    @include small-regular;
    font-family: NanumMyeongjo;
    line-height: 117.5%; /* 16.45px */
    letter-spacing: 1.68px;
  }

  /* font 12px */
  @mixin extra-small-medium {
    font-size: var(--text-size-xs);
    font-weight: var(--font-medium);
  }

  @mixin extra-small-regular {
    font-size: var(--text-size-xs);
    font-weight: var(--font-regular);
  }

  @mixin extra-small-100 {
    @include extra-small-medium;
    font-family: Pretendard;
    line-height: 150%; /* 18px */
    letter-spacing: 1.5px;
  }

  @mixin extra-small-200 {
    @include extra-small-medium;
    font-family: Pretendard Variable;
    line-height: normal;
    letter-spacing: -0.24px;
  }

  @mixin extra-small-300 {
    @include extra-small-medium;
    font-family: Pretendard;
    line-height: 14px; /* 116.667% */
  }

  @mixin extra-small-400 {
    @include extra-small-regular;
    font-family: Pretendard;
    line-height: 229.5%; /* 27.54px */
    letter-spacing: 0.48px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  @include flex-center;
  width: 100%;
  min-height: 90vh;
  margin: 0;
  background-color: var(--color-background);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  ::-webkit-scrollbar {
    display: block;
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 10px;
  }

  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input:active,
input:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}
