:root {
  /* color 속성 */
  --color-orange: #f45a1e;
  --color-green-1: #003d2b;
  --color-green-2: #006934;
  --color-light-orange: #f0c2b1;

  --color-join-background: #f1f1f2;
  --color-background: #eeeeef; // 회원가입 완료 화면부터 배경색이 바뀜
  --color-footer: #d9d9d9;

  --color-white: #ffffff;
  --color-black: #1d2621;

  --color-gray: #5b635e;
  --color-light-gray: #aeaeae;

  --font-size-35: 35px;
  --font-size-16: 16px;

  /* font-weight 속성 */
  --font-extra-bold: 800;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  /* font-family 속성 */
  --font-nanum: NanumMyeongjo;
  --font-pretend: Pretendard;
  --font-work: Work Sans;
  --font-variable: Pretendard Variable;

  /* line-height 속성 */
  --line-height-55-08: 55.08px;
  --line-height-52-5: 52.5px;
  --line-height-50-49: 50.49px;
  --line-height-41-31: 41.31px;
  --line-height-36-72: 36.72px;
  --line-height-34-65: 34.65px;
  --line-height-33: 33px;
  --line-height-32-13: 32.13px;
  --line-height-30: 30px;
  --line-height-27-54: 27.54px;
  --line-height-27-52: 27.52px;
  --line-height-27: 27px;
  --line-height-25-85: 25.85px;
  --line-height-24-08: 24.08px;
  --line-height-normal: normal;
  --line-height-23-5: 23.5px;
  --line-height-21-15: 21.15px;
  --line-height-21: 21px;
  --line-height-18-8: 18.8px;
  --line-height-18: 18px;
  --line-height-16-45: 16.45px;
  --line-height-14: 14px;

  /* letter-spacing 속성 */
  --letter-spacing-13-09: 13.09px;
  --letter-spacing-10-71: 10.71px;
  --letter-spacing-9-52: 9.52px;
  --letter-spacing-5-39: 5.39px;
  --letter-spacing-4-375: 4.375px;
  --letter-spacing-3: 3px;
  --letter-spacing-2-75: 2.75px;
  --letter-spacing-2-64: 2.64px;
  --letter-spacing-2-5: 2.5px;
  --letter-spacing-2-25: 2.25px;
  --letter-spacing-2: 2px;
  --letter-spacing-1-92: 1.92px;
  --letter-spacing-1-75: 1.75px;
  --letter-spacing-1-68: 1.68px;
  --letter-spacing-1-5: 1.5px;
  --letter-spacing-0-9: 0.9px;
  --letter-spacing-0-8: 0.8px;
  --letter-spacing-0-72: 0.72px;
  --letter-spacing-0-64: 0.64px;
  --letter-spacing-0-56: 0.56px;
  --letter-spacing-0-48: 0.48px;
  --letter-spacing-minus-0-24: -0.24px;
  --letter-spacing-minus-0-4: -0.4px;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family:
    NanumMyeongjo,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
  background-color: var(--color-background);

  ::-webkit-scrollbar {
    display: block;
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 10px;
  }

  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd {
  margin: 0;
}

input,
input:active,
input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

textarea {
  border: none;
  resize: none;
  background-color: transparent;
}

textarea:active,
textarea:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src:
    local("Nanum-Myeongjo"),
    url("./styles/fonts/NanumMyeongjo.otf") format("otf"),
    url("./styles/fonts/NanumMyeongjo.ttf") format("truetype");
}

@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src:
    url("./styles/fonts/NanumMyeongjoBold.otf") format("otf"),
    url("./styles/fonts/NanumMyeongjoBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 800;
  src:
    url("./styles/fonts/NanumMyeongjoExtraBold.otf") format("otf"),
    url("./styles/fonts/NanumMyeongjoExtraBold.ttf") format("truetype");
}
