@import '../styles/global.scss';

/* flex 속성 */
@mixin flex {
  display: flex;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

/* 그 외 공통 속성 */
@mixin cursor-pointer {
  cursor: pointer;
}

/* 개별 속성 */
@mixin global-button {
  padding: 20px 0;
  @include cursor-pointer;
}
