@import "../styles/global.scss";

/* flex 속성 */
@mixin flex {
  display: flex;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

/* 컨테이너 속성 */
@mixin full-container {
  width: 100%;
  height: 100%;
}

@mixin full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

/* 그 외 공통 속성 */
@mixin cursor-pointer {
  cursor: pointer;
}

@mixin overflow-hidden {
  overflow: hidden;
}

@mixin overflow-scroll {
  overflow: scroll;
}

/* 개별 속성 */
@mixin global-button {
  padding: 20px 0;
  @include cursor-pointer;
}
