@import "../../styles/mixin.scss";

.authWrap {
  @include flex-column-center;
}

.authTitle {
  line-height: 117.5%; /* 25.85px */
  letter-spacing: 13.09px;
  color: var(--color-gray);
  margin-bottom: 40px;
}

.authTitle,
.authUser,
.authDo {
  font-size: 22px;
  font-weight: 700;
}

.authUser,
.authDo {
  color: var(--color-green-1);
  font-family: NanumMyeongjo;
}
