@import "@styles/mixins";
@import "@styles/variables";

.container {
  margin-top: var(--header-height);
  margin-bottom: 55px;
}

.content {
  @include full-container;
  max-width: 821px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.profileSection {
  margin-top: 60px;
  margin-bottom: 48px;
}

.profileImgSection {
  margin-bottom: 17px;
}

.profileImg {
  width: 91px;
  height: 91px;
  border-radius: 100%;
  color: var(--color-light-gray);
}

.profileNameSection {
  @include flex;
  align-items: center;
  margin-bottom: 24px;
}

.profileNameSectionTitle {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  color: var(--color-green-1);
}

.profileSettingButton,
.profileEditButton,
.interestEditButton {
  &:hover {
    cursor: pointer;
  }
  margin-left: 10px;

  .icon {
    font-size: 20px;
    color: var(--color-light-gray);
  }
}

.profileInfoSection {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 49px;
}

.profileInfoBox {
  margin-bottom: 6px;
}

.profileInfoBoxTitle {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  color: var(--color-light-gray);
  margin-bottom: 5px;
}

.interestSection {
  @include flex;
  align-items: center;
}

.profileInfoBoxContent {
  font-family: var(--font-pretend);
  font-weight: var(--font-semi-bold);
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  color: var(--color-gray);
}

.tabSection {
}

.tabButtonsSection {
  @include flex;
}

.tabButtonTitle {
  font-family: var(--font-pretend);
  font-weight: var(--font-semi-bold);
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  @include flex-center;
  @include cursor-pointer;
  flex: 1;
  height: 48px;
}

.buttonActive {
  color: var(--color-green-1);
  border-bottom: 1.5px solid var(--color-green-1);
}

.buttonInActive {
  color: var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.tabComponentSection {
  min-height: 100px;
}

.topSpace {
  margin-top: 49px;
}
