@import '../../styles/global.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@mixin home-button {
  width: $button-medium;
  color: var(--color-white);
  font-size: $font-size-22;
  font-weight: var(--font-bold);
  line-height: 117.5%; /* 25.85px */
  letter-spacing: 2.64px;
  border-radius: $radius-100;
}

.container {
  @include flex-column-center;
  padding: 5rem 0;

  .subTitle {
    display: block;
    margin-bottom: $size-30;
  }

  .logo {
    margin-bottom: $size-84;
  }

  .grayButton {
    @include flex-center;
    @include global-button;
    @include home-button;

    background-color: var(--color-light-gray);
    margin-bottom: $size-20;
  }

  .orangeButton {
    @include flex-center;
    @include global-button;
    @include home-button;

    background-color: var(--color-orange);
  }
}
