@import "@styles/mixins";
@import "@styles/variables";
@import "@styles/relative";

.container {
  @include full-width;
  @include flex-column-center;
  height: $size-100vh;
  background-color: var(--color-background);

  @include tablet {
    @include overflow-scroll;
    min-width: 720px;
  }

  @include laptopToTablet {
    min-width: 960px;
  }

  @include laptop {
    min-width: 1024px;
  }

  @include desktopToLaptop {
    min-width: 1500px;
  }

  @include desktop {
    min-width: 1800px;
  }
}
