.container {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.12em;
  line-height: 117.5%;
}

.titleSection {
  font-size: 18px;
  letter-spacing: 0.05em;

  color: var(--color-gray);
  margin-bottom: 35px;
}

.contentSection {
}
