@import "@styles/mixins";
@import "@styles/variables";

.content {
  @include flex-column;
  @include full-width;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}

.pageSubTitle {
  font-weight: var(--font-bold);
  line-height: var(--line-height-27);
  letter-spacing: var(--letter-spacing-2);
  font-family: var(--font-nanum);
  color: var(--color-green-1);
  text-align: center;
}

.logoSection {
  width: 250px;
  height: 42px;
}

.logo {
  @include full-container;
}

.mainButton {
  width: 200px;
  height: 40px;
}
