@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.12em;
  line-height: 157.5%;

  @include flex-column-center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 55px;
  min-width: fit-content;
}

.content {
  @include flex-column;
  @include full-width;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}

.pageSubTitleContainer {
  padding: 20px;
  margin-bottom: 20px;
}

.pageSubTitle {
  color: var(--color-green-1);
  text-align: center;
}

.logoSection {
  width: 251.61px;
  height: 42px;
  margin-bottom: 104px;
}

.logo {
  @include full-container;
}

.mainButton {
  width: 330px;
  height: 66px;
}
