@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-center;
  @include full-container;
  border-radius: 100px;
  color: var(--color-white);
  background-color: var(--color-orange);
}

.enable {
  @include cursor-pointer;

  &:hover {
    @include opacity-0-8;
  }
}

.disable {
  cursor: default !important;
  background-color: var(--color-light-gray);
}
