@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include overflow-hidden;
  @include full-width;
  @include flex-column;
  min-height: 500px;
  background-color: rgba($color: #ffffff, $alpha: 0.26);
  padding: 10px;
}

.textBundleContainer {
  @include flex;
  @include full-width;
  margin-bottom: 10px;
}

.textBundleSection {
  @include flex-column;
  flex: 1;
  width: 100%;
  overflow-x : hidden;
}

.deleteIconSection {
  @include flex-center;
  width: 30px;
  padding: 5px;
}

.deleteIcon {
  @include cursor-pointer;
  @include full-container;
  color: #f6b298;

  &:hover {
    @include opacity-0-8;
  }
}

.originalTextInput {
  @include overflow-hidden;
  overflow-wrap: break-word;
  word-break: break-all;
  min-height: 28px;
  box-shadow: 0 0 2px var(--color-light-gray);
  border-radius: 5px;
  background-color: var(--color-white);
  margin-bottom: 5px;
  color: var(--color-orange);
  padding: 0px 10px;
}

.translatedTextInput {
  @include overflow-hidden;
  overflow-wrap: break-word;
  word-break: break-all;
  min-height: 28px;
  box-shadow: 0 0 2px var(--color-light-gray);
  border-radius: 5px;
  background-color: var(--color-white);
  margin-bottom: 5px;
  color: var(--color-text);
  padding: 0px 10px;
}
