.textWrapper {
    width: 200px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    font-family : var(--font-nanum);
    font-size: 18px;
    font-weight: 800;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.orange {
    color : var(--color-orange);
}

.green {
    color : var(--color-green-2);
}