.textWrapper {
  font-family: var(--font-nanum);
  font-weight: var(--font-extra-bold);
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.orange {
  color: var(--color-orange);
}

.green {
  color: var(--color-green-2);
}
