@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  margin: 0 auto;
}

.thumbnailContainer {
  width: 271px;
  padding: 0 10px;

  .thumbnailTitleSection {
    margin-bottom: 19px;
  }

  .thumbnailSection {
    height: 348px;
  }
}

.customDots {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  bottom: -51px !important;

  li {
    width: calc((100% - 10px * 2) / 3) !important;
    margin: 0 !important;
    height: 2px !important;
  }
  .customDot {
    flex: 1;
    height: 100%;
  }
}

.active {
  background-color: var(--color-orange);
}

.inActive {
  background-color: var(--color-light-gray);
}

.transfolioSliderBar {
  $marginLeft: 10px;
  $marginRight: 10px;

  margin-top: 30px;
  margin-left: $marginLeft;
  margin-right: $marginRight;

  height: 2px;
  width: calc(100% - $marginLeft - $marginRight);
  position: relative;
  background-color: var(--color-light-gray);
  display: none;
  &.show {
    display: block;
  }

  .transfolioSliderKnob {
    height: 2px;
    position: absolute;
    background-color: transparent;
    &.active {
      background-color: var(--color-orange);
    }
  }
}
