@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  margin: 0 auto;
}

.thumbnailContainer {
  width: 271px;
  padding: 0 10px;

  .thumbnailTitleSection {
    margin-bottom: 19px;
  }

  .thumbnailSection {
    height: 348px;
  }
}

.customDots {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  bottom: -51px !important;

  li {
    width: calc((100% - 10px * 2) / 3) !important;
    margin: 0 !important;
    height: 2px !important;
  }
  .customDot {
    flex: 1;
    height: 100%;
  }
}

.active {
  background-color: var(--color-orange);
}

.inActive {
  background-color: var(--color-light-gray);
}
