@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  width: 200px;
  height: 250px;
  background-color: var(--color-white);
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.content {
  @include full-container;
  @include flex-column;
  padding: 0 10px 30px 10px;
}

.bodySection {
  @include full-width;
  flex: 1;
}

.profileImgSection {
  @include full-width;
  @include flex-center;
  height: 100px;
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profileIcon {
  width: 100px;
  height: 100%;
  color: var(--color-light-gray);
}

.writerTitleSection {
  @include full-width;
  @include flex-center;
  font-size: $font-size-16;
  color: var(--color-green-1);
  font-weight: var(--font-semi-bold);
  margin: 5px 0;
}

.writerNameSection {
  @include full-width;
  @include flex-center;
  font-size: $font-size-12;
  color: var(--color-gray);
  font-weight: var(--font-semi-bold);
  font-family: var(--font-pretend);
}

.writerInfoSection {
  flex: 1;
  padding: 10px 0;
  font-size: $font-size-12;
  color: var(--color-light-gray);
  font-family: var(--font-pretend);
}

.foldSection {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
}

.fold {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid var(--color-orange);
  border-right: 20px solid transparent;
  z-index: 2;
}
