@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-container;
  @include cursor-pointer;
  background-color: var(--color-white);
  position: relative;

  &:hover {
    @include opacity-0-8;
  }
}

.content {
  @include full-container;
}

.bodySection {
  padding-top: 49.5px;
  overflow-y: hidden;
}

.profileImgSection {
  @include full-width;
  @include flex-center;
  margin-bottom: 30px;
}

.profileImg {
  width: 91px;
  height: 91px;
  border-radius: 100%;
  overflow: hidden;
}

.writerTitleSection {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 117.5%;

  @include full-width;
  @include flex-center;
  color: var(--color-green-1);
  margin-bottom: 1px;
}

.writerNameSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 229.5%;

  text-align: center;
  color: var(--color-gray);
  margin-bottom: 41px;
}

.writerInfoSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 150%;

  color: var(--color-light-gray);
  text-align: center;
  white-space: pre-line;
}

.foldSection {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
}

.fold {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid var(--color-orange);
  border-right: 30px solid transparent;
  z-index: 2;
}
