@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include cursor-pointer;
  @include flex-column;
  width: 210px;
  height: 304px;
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;

  &:hover {
    @include opacity-0-8;
  }
}

.content {
  @include full-container;
  @include flex-column;
  padding: 26px;
}

.bodySection {
  @include flex-column;
  @include full-container;
  align-items: center;
  overflow-y: hidden;
}

.profileImgSection {
  @include full-width;
  @include flex-center;
  margin-bottom: 10px;
}

.profileImg {
  width: 73px;
  height: 73px;
  border-radius: 100%;
  overflow: hidden;
}

.writerTitleSection {
  @include full-width;
  @include flex-center;
  font-size: $font-size-16;
  color: var(--color-green-1);
  font-weight: var(--font-semi-bold);
  margin: 5px 0;
}

.writerNameSection {
  @include full-width;
  @include flex;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;
  font-size: $font-size-12;
  color: var(--color-gray);
  font-family: var(--font-pretend);
}

.writerInfoSection {
  padding: 10px 0;
  font-size: $font-size-12;
  color: var(--color-light-gray);
  font-family: var(--font-pretend);
  text-align: center;
  white-space: pre-line;
}

.foldSection {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
}

.fold {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid var(--color-orange);
  border-right: 20px solid transparent;
  z-index: 2;
}
