@import "@styles/mixins";
@import "@styles/variables";

.container {
  margin-top: var(--header-height);
}

.content {
  max-width: var(--width-content-max);
  margin: 75px auto 0;
}

.bodySection {
  @include full-width;
  display: grid;
  grid-template-columns: 100%;
}

.titleSection {
  @include full-width;
  @include flex;
  align-items: center;
  justify-content: start;
  color: var(--color-gray);
  letter-spacing: var(--letter-spacing-0-72);
  margin-bottom: 20px;
}

.thumbnailTitle {
  @include full-width;
  @include flex-center;
  height: 30px;
}

.textHighlight {
  color: var(--color-orange);
  font-weight: var(--font-semi-bold);
}

.moveToPageContainer {
  @include full-width;
  @include cursor-pointer;
  position: relative;
  background-color: var(--color-orange);
  color: var(--color-white);
  height: 127px;

  // 드래그 막기
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  .moveToPageSubTitle {
    font-family: var(--font-pretend);
    font-weight: var(--font-regular);
    font-size: 14px;
    letter-spacing: 0.385em;
    line-height: 229.5%;

    position: absolute;
    top: 22px;
    left: 67px;
    opacity: 0.4;
  }

  .moveToPageTitle1 {
    font-family: var(--font-nanum);
    font-weight: var(--font-bold);
    font-size: 24px;
    letter-spacing: 0.125em;
    line-height: 229.5%;

    position: absolute;
    top: calc((100% - 45px) / 2);
    left: 64px;
    right: 50%;
  }

  .moveToPageTitle2 {
    font-family: var(--font-pretend);
    font-weight: var(--font-regular);
    font-size: 24px;
    letter-spacing: 0.125em;
    line-height: 229.5%;

    position: absolute;
    top: calc((100% - 45px) / 2);
    right: 62px;
    left: 50%;
  }
}

.writerTitleSection {
  text-align: center;

  .main {
    font-family: var(--font-pretend);
    font-weight: var(--font-bold);
    font-size: 22px;
    letter-spacing: 0.595em;
    line-height: 117.5%;

    color: var(--color-gray);
    margin-bottom: 30px;
  }
  .sub {
    font-family: var(--font-nanum);
    font-weight: var(--font-bold);
    font-size: 16px;
    letter-spacing: 0.12em;
    line-height: 117.5%;

    color: var(--color-green-1);
    margin-bottom: 32px;
  }
}
