@import "@styles/mixins";
@import "@styles/variables";

.button {
  font-family: var(--font-pretend);
  color: var(--color-gray);
  flex-shrink: 0 !important;

  &:focus {
    box-shadow: none;
  }
}

.dropdown {
  width: 102px;
  min-width: inherit !important;
  border-radius: 15px;
  padding: 0px;
  overflow: hidden;
  left: calc(50% - 102px / 2) !important;
}

.dropdownContent {
  @include flex-center;
  @include cursor-pointer;
  font-size: 12px;
  font-family: var(--font-pretend);
  color: var(--color-gray);
  padding: 10px 20px !important;

  &:active {
    color: var(--color-orange);
  }

  &:not(:first-child) {
    border-top: 0.5px solid #dfdfdf;
  }
}

.active {
  color: var(--color-orange) !important;
  font-weight: var(--font-semi-bold);
}
