@import "@styles/mixins";
@import "@styles/variables";

.button {
  font-family: var(--font-pretend);
  color: var(--color-gray);

  &:focus {
    box-shadow: none;
  }
}

.dropdownContent {
  @include cursor-pointer;
  font-family: var(--font-pretend);
  color: var(--color-gray);

  &:active {
    background-color: var(--color-light-gray);
  }
}

.active {
  color: var(--color-orange);
  font-weight: var(--font-semi-bold);
}
