@import "@styles/mixins.scss";
@import "@styles/variables.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.container {
  width: 300px;
  height: 100%;
  padding: 30px 20px;
  background-color: var(--color-white);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  animation: slideInAnimation 0.5s ease;
}

@keyframes slideInAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hide {
  animation: slideOutAnimation 0.5s ease;
}

.content {
  @include flex-column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.infoSection {
  width: 100%;
}

.settingButtonSection {
  @include flex;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: start;
}

.settingButtonIconSection {
  @include cursor-pointer;
  width: 30px;
  height: 100%;
}

.settingButtonSection:hover {
  opacity: 0.8;
}

.settingButtonIcon {
  width: 100%;
  height: 100%;
  color: var(--color-light-gray);
}

.profilePhotoSection {
  @include flex-center;
  width: 100%;
  height: 100px;
}

.profilePhoto {
  width: 100px;
  height: 100%;
  border-radius: 100%;
}

.profileIcon {
  width: 100px;
  height: 100%;
  color: var(--color-light-gray);
}

.profileNameSection {
  @include flex-center;
  width: 100%;
  height: 35px;
  color: var(--color-green-1);
  font-weight: var(--font-semi-bold);
}

.portfolioSection {
  margin-top: 20px;
  width: 100%;
}

.portfolioButton {
  @include flex;
  @include cursor-pointer;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.portfolioButton:hover {
  opacity: 0.8;
}

.portfolioButtonTitle {
  color: var(--color-gray);
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  font-weight: var(--font-semi-bold);
}

.portfolioButtonNumber {
  color: var(--color-green-1);
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  font-weight: var(--font-semi-bold);
}

.logoutButtonSection {
  @include flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: start;
}

.logoutButton {
  color: var(--color-light-gray);
  font-size: $font-size-16;
  font-family: var(--font-pretend);
  font-weight: var(--font-semi-bold);
}
