@import "@styles/mixins";
@import "@styles/variables";

@mixin border-bottom {
  border-bottom: 1px solid var(--color-light-gray);
}

.container {
  margin-top: var(--header-height);
  margin-bottom: 55px;
}

.content {
  @include full-container;
  max-width: 821px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.thumbnailSection {
  @include flex-center;
  margin-top: 61px;
  margin-bottom: 42px;
  flex-wrap: wrap;
}

.thumbnailCardSection {
  box-shadow: var(--box-shadow-card);
  width: 238px;
  height: 339px;
}

.thumbnailInfoSection {
  @include flex-column;
  height: 339px;
  flex: 1;
  padding-left: 27px;

  .titleDateSection {
    font-family: var(--font-pretend);
    font-weight: var(--font-medium);
    font-size: 16px;
    letter-spacing: 0.125em;
    line-height: 150%;

    color: var(--color-light-gray);
    text-align: right;
  }
}

.languageSection {
  @include border-bottom();
  @include full-width;
  @include flex;
  height: 73px;
  align-items: center;
  justify-content: start;

  .language {
    font-family: var(--font-pretend);
    font-weight: var(--font-medium);
    font-size: 18px;
    letter-spacing: 0.125em;
    line-height: 150%;

    color: var(--color-gray);
  }
}

.dropdownSection {
  &.lang {
    width: 100px;

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-medium);
      font-size: 18px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-gray);
    }
  }

  &.category {
    width: 100px;

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-medium);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-light-gray);
    }
  }

  &.setting {
    &:not(:last-child) {
      margin-right: 23px;
    }

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-bold);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-gray);
      border-radius: 100px;
      width: 127px;
      height: 33px;
      border: 1px var(--color-gray) solid;
    }
  }
}

.arrowIcon {
  margin: 0 13px;
  color: var(--color-gray);
}

.warnTextSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-medium);
  font-size: 12px;
  letter-spacing: 0.125em;
  line-height: 150%;

  @include full-height;
  @include flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  color: var(--color-orange);
}

.warnIcon {
  color: var(--color-orange);
  margin-right: 5px;
}

.descriptionSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0.125em;
  line-height: 150%;

  color: var(--color-gray);
  @include border-bottom();
  flex: 1;
  padding: 17px 0;
  overflow-y: auto;
}

.etcWrapper {
  display: grid;
  grid-template:
    "a b d" max(38px)
    "c c d" max(38px) / auto auto 120px;

  * {
    font-family: var(--font-pretend);
    font-weight: var(--font-regular);
    font-size: 16px;
    letter-spacing: 0.125em;
    line-height: 150%;

    color: var(--color-light-gray);
  }

  :nth-child(1) {
    grid-area: a;
  }
  :nth-child(2) {
    grid-area: b;
  }
  :nth-child(3) {
    grid-area: c;
  }
  :nth-child(4) {
    grid-area: d;
  }

  .etcItemContainer {
    @include flex;
    align-items: center;
    padding-top: 14px;

    .etcItemTitle {
      margin-right: 40px;
      text-wrap: nowrap;
      min-width: 50px;
    }

    .etcItemContent {
      flex: 1;
      font-weight: var(--font-medium);
      text-wrap: nowrap;
    }
  }

  .editButtonWrapper {
    @include flex;
    align-items: center;
    justify-content: flex-end;

    .editButtonContainer {
      @include flex-center;
      border-radius: 5px;

      .editButton {
        color: var(--color-gray);
        font-weight: var(--font-bold);
        padding: 10px 20px;
      }

      &:hover {
        background-color: var(--color-orange);

        .editButton {
          color: var(--color-white);
        }
      }

      &:active {
        filter: brightness(0.95);
      }
    }
  }
}

.mainContentSection {
  padding: 52px 50px;
  background-color: rgb(255, 255, 255);
  box-sizing: var(--box-shadow-card);

  .mainContent {
  }

  .mainContentRow {
    font-family: var(--font-pretend);
    font-weight: var(--font-medium);
    font-size: 12pt;
    letter-spacing: 0em;
    line-height: 117.5%;

    margin-bottom: 29px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  .orangeColor {
    color: var(--color-orange);
  }

  .greenColor {
    color: var(--color-green-2);
  }

  .mainContentRowOriginal {
    font-family: inherit;
    font-weight: var(--font-bold);
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;

    margin: 0 3px 12px;
  }

  .mainContentRowTranslation {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;

    margin: 0 3px 6px;
  }
}
