@import "@styles/mixins";
@import "@styles/variables";

.container {
  margin-top: var(--header-height);
  margin-bottom: 55px;
}

.content {
  @include full-container;
  @include overflow-scroll;
  max-width: var(--width-content-max);
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.thumbnailSection {
  @include flex-center;
  @include full-width;
  align-items: flex-end;
  padding: 50px 0 61px;
  height: 269px;
  box-sizing: content-box;
}

.thumbnailContentDetailWrapper {
  @include flex;
}

.thumbnailContentDetailWrap {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 20% 25% 20% 25% 10%;
}

.thumbnailContentSection {
  @include flex-column;
  @include full-container;
  margin-left: 20px;
}

.thumbnailContentDateSection {
  @include flex;
  @include full-width;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  font-size: $font-size-14;
  letter-spacing: var(--letter-spacing-1-92);
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
}

.thumbnailContentTranslationDirectionSection {
  @include flex;
  @include full-width;
  height: 40px;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
}

.thumbnailContentTranslationTarget {
  font-size: $font-size-16;
  font-family: var(--font-pretend);
  color: var(--color-gray);
}

.thumbnailContentTranslationArrow {
  margin-left: 10px;
  margin-right: 10px;
}

.thumbnailContentIntroSection {
  @include full-container;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-top: 0.5px solid var(--color-light-gray);
  border-bottom: 0.5px solid var(--color-light-gray);
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  color: var(--color-gray);
  letter-spacing: var(--letter-spacing-1-92);
  line-height: var(--line-height-21);
  flex-shrink: 1;
  overflow-y: auto;
}

.thumbnailContentDetailTitle {
  @include flex;
  @include full-height;
  height: 30px;
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
  align-items: center;
  justify-content: start;
}

.thumbnailContentDetailContent {
  @include flex;
  @include full-container;
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
  align-items: center;
  justify-content: start;
}

.editButton {
  @include flex-column-center;
  color: var(--color-white);
  background-color: var(--color-orange);
  font-size: $font-size-14;
  font-family: var(--font-pretend);
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.mainContentSection {
  @include full-width;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.mainContent {
  @include full-container;
}

.mainContentRow {
  @include full-width;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-light-gray);
}

.orangeColor {
  color: var(--color-orange);
}

.greenColor {
  color: var(--color-green-2);
}

.mainContentRowOriginal {
  padding: 5px 10px;
  font-size: $font-size-16;
  font-family: inherit;
  background-color: var(--color-white);
}

.mainContentRowTranslation {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: $font-size-16;
  font-family: inherit;
  background-color: inherit;
  line-height: 24px;
  display: flex;

  &::before {
    content: " ";
    display: block;
    width: 1px;
    height: 24px;
  }
}
