@import "@styles/mixins";
@import "@styles/variables";

.grid {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 53px * 2) / 3));
  grid-auto-rows: 339px;
  column-gap: 53px;
  row-gap: 25px;
}

.gridItem {
  @include full-container;
}
