@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-width;
  height: 177px;
  background-color: var(--color-white);
}

.title {
  font-family: var(--font-pretend);
  font-weight: var(--font-bold);
  font-size: 18px;
  letter-spacing: 0.595em;
  line-height: 117.5%;

  color: var(--color-gray);
  margin-bottom: 10px;
  text-align: center;
  padding-top: 106px;
  margin-bottom: 12px;
}

.subTitle {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 14px;
  letter-spacing: 0.12em;
  line-height: 117.5%;

  color: var(--color-green-1);
  text-align: center;
}
