@import "@styles/mixins";
@import "@styles/variables";

@mixin border-bottom {
  border-bottom: 1px solid var(--color-light-gray);
}

.container {
  margin-top: var(--header-height);
  margin-bottom: 55px;
}

.content {
  @include full-container;
  max-width: 821px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.thumbnailSection {
  @include flex-center;
  margin-top: 61px;
  flex-wrap: wrap;
}

.thumbnailCardSection {
  box-shadow: var(--box-shadow-card);
  width: 238px;
  height: 339px;
}

.thumbnailInfoSection {
  @include flex-column;
  height: 339px;
  flex: 1;
  padding-left: 27px;
}

.titleTextFieldSection {
  @include flex-center;
  height: 29px;

  input::placeholder {
    font-family: var(--font-pretend);
    font-weight: var(--font-bold);
    font-size: 20px;
    letter-spacing: 0.125em;
    line-height: 150%;

    color: var(--color-orange);
  }
}

.titleDateSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-medium);
  font-size: 16px;
  letter-spacing: 0.125em;
  line-height: 150%;

  @include full-height;
  @include flex-center;
  width: 150px;
  padding-left: 10px;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-light-gray);
}

.selectLanguageSection {
  @include border-bottom();
  @include full-width;
  @include flex;
  height: 66px;
  align-items: center;
  justify-content: start;
}

.dropdownSection {
  &.lang {
    width: 100px;

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-medium);
      font-size: 18px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-gray);
    }
  }

  &.category {
    width: 100px;

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-medium);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-light-gray);
    }
  }

  &.setting {
    &:not(:last-child) {
      margin-right: 23px;
    }

    button {
      font-family: var(--font-pretend);
      font-weight: var(--font-bold);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-gray);
      border-radius: 100px;
      width: 127px;
      height: 33px;
      border: 1px var(--color-gray) solid;
    }
  }
}

.arrowIcon {
  color: var(--color-gray);
}

.warnTextSection {
  font-family: var(--font-pretend);
  font-weight: var(--font-medium);
  font-size: 12px;
  letter-spacing: 0.125em;
  line-height: 150%;

  @include full-height;
  @include flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  color: var(--color-orange);
}

.warnIcon {
  color: var(--color-orange);
  margin-right: 5px;
}

.infoTextFieldSection {
  @include border-bottom();
  @include full-width;
  flex: 1;
  padding: 5px 0;
}

.etcWrapper {
  display: grid;
  grid-template:
    "a b" max(38px)
    "c c" max(38px) / auto auto;

  :nth-child(1) {
    grid-area: a;
  }
  :nth-child(2) {
    grid-area: b;
  }
  :nth-child(3) {
    grid-area: c;
  }

  .etcItemContainer {
    @include flex;
    align-items: center;
    padding-top: 14px;

    .etcItemTitle {
      font-family: var(--font-pretend);
      font-weight: var(--font-regular);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-light-gray);
      margin-right: 40px;
      text-wrap: nowrap;
      min-width: 50px;
    }

    .etcItemContent {
      font-family: var(--font-pretend);
      font-weight: var(--font-regular);
      font-size: 16px;
      letter-spacing: 0.125em;
      line-height: 150%;

      color: var(--color-light-gray);
      flex: 1;
      font-weight: var(--font-medium);
      text-wrap: nowrap;
    }
  }

  .authorInputSection {
    input,
    input:focus {
      padding: 6px 12px;
      border-bottom: none;
    }
  }
}
// .etcSection {
//   @include full-width;
//   @include flex;
//   margin-top: 14px;
//   align-items: center;
//   justify-content: start;

//   .authorInputSection {
//     flex: 1;

//     input,
//     input:focus {
//       padding: 6px 12px;
//       border-bottom: none;
//     }
//   }
// }

// .etcTitleSection {
//   font-family: var(--font-pretend);
//   font-weight: var(--font-regular);
//   font-size: 16px;
//   letter-spacing: 0.125em;
//   line-height: 150%;

//   @include full-height;
//   @include flex;
//   width: 80px;
//   align-items: center;
//   justify-content: start;
//   color: var(--color-light-gray);
// }

.writingSection {
  .buttonsSection {
    @include flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
  }

  .writingContentSection {
    box-shadow: var(--box-shadow-card);
  }

  .mainButtonsSection {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 62px) / 2));
    column-gap: 62px;
    margin-top: 113px;
  }

  .mainButtonSection {
    font-family: var(--font-pretend);
    font-weight: var(--font-bold);
    font-size: 22px;
    letter-spacing: 0.125em;
    line-height: 150%;

    height: 95px;

    button.btnPreSave {
      @include full-container;
      background-color: var(--color-light-gray);
      color: var(--color-white);
    }

    button.btnSubmit {
      @include full-container;
      background-color: var(--color-orange);
      color: var(--color-white);
    }
  }
}

.hr {
  width: 100%;
  border-bottom: 1px solid var(--color-light-gray);
}
