@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-container;
}

.textarea {
  @include full-container;
  border: none;
  font-family: var(--font-pretend);
  color: var(--color-gray);
}
