@import "@styles/mixins";
@import "@styles/variables";

.container {
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid var(--color-light-gray);
  font-family: var(--font-work);
}

.input:focus {
  outline: none;
}

.inputSubTitle {
  @include flex;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-content: start;
  font-size: $font-size-10;
  font-family: var(--font-work);
  color: var(--color-green-1);
}
