@import "@styles/mixins";
@import "@styles/variables";

@mixin border-bottom {
  border-bottom: 1px solid var(--color-light-gray);
}

.container {
  @include overflow-hidden;
  @include full-width;
  max-width: 1440px;
  padding: 10px 350px;
}

.content {
  @include full-container;
  @include overflow-scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.divider {
  height: 20px;
}

.thumbnailSection {
  @include full-width;
  @include flex;
  height: 300px;
}

.thumbnailCardSection {
  @include full-height;
  width: 200px;
}

.thumbnailInfoSection {
  @include full-height;
  @include flex-column;
  flex: 1;
  padding-left: 20px;
}

.titleTextFieldSection {
  @include flex-center;
  @include full-width;
  height: 40px;
}

.titleDateSection {
  @include full-height;
  @include flex-center;
  width: 150px;
  border-bottom: 1px solid var(--color-light-gray);
  font-family: var(--font-pretend);
  color: var(--color-light-gray);
}

.selectLanguageSection {
  @include border-bottom();
  @include full-width;
  @include flex;
  height: 50px;
  align-items: center;
  justify-content: start;
}

.dropdownSection {
  @include full-height;
  @include flex-center;
  width: 100px;
}

.arrowIcon {
  color: var(--color-gray);
}

.warnTextSection {
  @include full-height;
  @include flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  font-size: $font-size-12;
  color: var(--color-orange);
  font-family: var(--font-pretend);
}

.warnIcon {
  color: var(--color-orange);
  margin-right: 5px;
}

.infoTextFieldSection {
  @include border-bottom();
  @include full-width;
  flex: 1;
  padding: 5px 0;
}

.etcSection {
  @include border-bottom();
  @include full-width;
  @include flex;
  height: 40px;
  align-items: center;
  justify-content: start;
}

.etcTitleSection {
  @include full-height;
  @include flex;
  align-items: center;
  justify-content: start;
  color: var(--color-light-gray);
  font-family: var(--font-pretend);
}

.divider {
  width: 20px;
}
