@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-container;
}

.input {
  @include full-container;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid var(--color-light-gray);
  font-family: var(--font-work);
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-light-gray);
}
