@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include full-container;
}

.input {
  @include full-container;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid var(--color-light-gray);
  font-family: var(--font-work);
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-light-gray);
}

.error input,
.error input:focus {
  border-bottom-color: var(--color-green-1);
}

.error .errorText {
  font-size: $font-size-12;
  color: var(--color-green-1);
  font-family: var(--font-pretend);
}
