@import "@styles/mixins";
@import "@styles/variables";

.container {
  @include flex-column;
  @include full-height;
  width: 200px;
  background-color: var(--color-white);
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.indexSection {
  @include flex;
  @include full-width;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 10px;
  align-items: start;
  justify-content: center;
}

.indexContainer {
  width: 10px;
  height: 10px;
}

.index {
  @include full-container;
  background-color: var(--color-orange);
  border-radius: 100%;
}

.dropdownSection {
  @include full-height;
  @include flex-center;
  flex: 1;
}

.contentSection {
  @include full-width;
  height: 90%;
  padding: 0 10px;
}

.footerSection {
  @include flex;
  @include full-width;
  padding: 0 5px;
  align-items: end;
  justify-content: start;
  color: var(--color-light-gray);
  font-family: var(--font-pretend);
  font-size: $font-size-14;
}
