@import "@styles/mixins";
@import "@styles/variables";

.textBundleContainer {
  @include flex;
  @include full-width;
  align-items: center;
  border-radius: 8px;
  padding: 10px;

  &.hoverDeleteButton {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.textBundleSection {
  @include flex-column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.deleteIconSection {
  @include flex-column-center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 30px;
  padding: 5px;
}

.deleteIcon {
  @include cursor-pointer;
  width: 100%;
  color: var(--color-light-orange);

  &:hover {
    @include opacity-0-8;
  }
}
