@import "@styles/mixins";
@import "@styles/variables";

.textBundleContainer {
  @include flex;
  @include full-width;
  align-items: center;
  margin-bottom: 10px;
}

.textBundleSection {
  @include flex-column;
  flex: 1;
  width: 100%;
  gap: 10px;
  overflow-x: hidden;
}

.deleteIconSection {
  @include flex-column-center;
  justify-content: flex-end;

  width: 30px;
  padding: 5px;
}

.deleteIcon {
  @include cursor-pointer;
  width: 100%;
  color: #f6b298;

  &:hover {
    @include opacity-0-8;
  }
}
