@import "@styles/mixins";
@import "@styles/variables";

.container {
  font-family: var(--font-nanum);
  font-weight: var(--font-bold);
  font-size: 22px;
  letter-spacing: 0.12em;
  line-height: 117.5%;

  @include flex-center;
  min-height: 100vh;
  padding: 178px 55px;
}

.content {
  @include flex-column-center;
  width: 100%;
  max-width: 708px;
}

.pageTitleSection {
  @include flex-column-center;
  width: 225px;
  margin-bottom: 60px;
}

.pageTitle {
  font-family: var(--font-pretend);
  letter-spacing: 0.595em;

  height: 46px;
  color: var(--color-gray);
  margin-bottom: 20px;
}

.pageSubTitle {
  color: var(--color-green-1);
  text-align: center;
}

.inputSectionWrapper {
  @include full-width;
}

.inputSection {
  @include full-width;
  margin-bottom: 20px;

  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.inputTitle {
  font-family: var(--font-pretend);
  font-weight: var(--font-regular);
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--color-light-gray);

  margin-bottom: 16px;
  padding: 10px;
}

.inputContainer {
  @include flex;
  height: 63px;
  align-items: center;
  justify-content: start;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.inputSubTitle {
  font-family: var(--font-work);
  font-weight: var(--font-bold);
  font-size: 20px;
  letter-spacing: -0.02em;
  white-space: nowrap;

  width: 120px;
  color: var(--color-green-2);
  text-align: center;
}

.input {
  flex: 1;
  margin: 10px;
  height: 40px;
}

.subButton {
  @include full-height;
  margin-left: 20px;
  width: 108px;
  height: 44px;
}

.mainButton {
  width: 330px;
  height: 66px;
  margin: 140px auto;
}
